name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            10.0.x
      - name: Install MAUI workload
        run: dotnet workload install maui
      - name: Restore
        run: dotnet restore IconFont.Maui.FluentIcons.sln
      - name: Build library iOS
        run: dotnet build src/IconFont.Maui.FluentIcons/IconFont.Maui.FluentIcons.csproj -f net10.0-ios -r iossimulator-arm64 -v minimal
      - name: Test Integration
        run: dotnet test tests/IconFont.Maui.FluentIcons.IntegrationTests/IconFont.Maui.FluentIcons.IntegrationTests.csproj -v minimal
